{% extends 'Admin/profil.html.twig' %}

{% block profil_down %}
<div class="bg-400">
    <div class="drop-shadow-lg">
        <nav class="profil_menu overflow-y-hidden overflow-x-auto h-[50px] flex items-end">
            <ul>
                <li class="text-secondary"><a href="{{ path('admin_card', {'page_up' : page_up, 'page_down' : 'card', 'page_three' : 'entrées' })}}" class="hover:-translate-y-1 bg-500/60 duration-100 rounded-t-3xl">Entrées</a></li>
                <li class="text-secondary"><a href="{{ path('admin_card', {'page_up' : page_up, 'page_down' : 'card', 'page_three' : 'plats' })}}" class="hover:-translate-y-1 bg-primary/50 duration-100 rounded-t-3xl">Plats</a></li>
                <li class="text-secondary"><a href="{{ path('admin_card', {'page_up' : page_up, 'page_down' : 'card', 'page_three' : 'desserts' })}}" class="hover:-translate-y-1 bg-600 duration-100 rounded-t-3xl">Desserts</a></li>
                <li class="text-secondary"><a href="{{ path('admin_card', {'page_up' : page_up, 'page_down' : 'card', 'page_three' : 'menus' })}}" class="hover:-translate-y-1 bg-500 duration-100 rounded-t-3xl">Menus</a></li>
            </ul>
        </nav>
    </div>
    {% block card_down %}
        {% if page_three == 'entrées' %}
            {% include 'Admin/profil_down/card/starter/starter.html.twig' %}
        {% elseif page_three == 'plats' %}
            {% include 'Admin/profil_down/card/main/main.html.twig' %}
        {% elseif page_three == 'desserts' %}
            {% include 'Admin/profil_down/card/dessert/dessert.html.twig' %}
        {% else %}
            {% include 'Admin/profil_down/card/menus/menus.html.twig' %}
        {% endif %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% if page_three == 'menus' %} 
    <script src={{ asset('js/profil/'~'handleRequest.menus.js') }}></script>
{% else %}
    <script src={{ asset('js/profil/'~'handleRequest.food.js') }}></script>
{% endif %}
{% endblock %}
