{% extends 'Login/login.html.twig' %}

{% block content_subtitle %}
    <div class="font-secondary text-secondary text-center my-5 text-lg px-4 md:text-xl">
        <h2 class="">Réinitialiser le mot de passe</h2>
    </div>
{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger bg-red-600 p-4 max-w-[380px] mx-auto font-secondary mb-6 text-secondary" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="text-secondary font-secondary drop-shadow-lg max-w-[380px] mx-auto bg-500 w-11/12 p-4">
        {{ form_start(requestForm, {'attr' : { 'class' : ' grid gap-6'}}) }}
            <div class="form_container">
                {{ form_label(requestForm.email) }}
                <div class="form_inputContainer">
                    <i class="fa-solid fa-at"></i>
                    {{ form_widget(requestForm.email) }}
                </div>
            </div>
            <div>
                <small class="text-sm leading-3">
                Entrez votre adresse mail pour qu'un lien pour réinitialiser votre mot de passe puisse vous être envoyé.
                </small>
            </div>
            <button class="bg-secondary text-primary mt-4 mb-2 py-2 px-4 w-fit justify-self-center hover:bg-400 duration-150 hover:text-secondary" type="submit">Envoyer</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
