<div class="text-secondary bg-500">
    <div class="drop-shadow-lg bg-primary/50">
        <section class="after relative after:bg-secondary/50 py-6" id="special_dates">
            <p class="w-11/12 mx-auto max-w-[598px] pb-3 underline underline-offset-2">Ajouter les horaires d'une date spécifique :</p>
            {{ form_start(form_dates, {'attr' : { 'class' : 'text-sm sm-600:text-base bg-600 w-11/12 mx-auto max-w-[598px] gap-2 md:p-4 p-2 text-secondary'}})}}
                <div class="py-2 relative after after:bg-secondary/50 after:min-w-[200px] w-fit  mx-auto">
                    <div class="hidden">{{ form_label(form_dates.date) }}</div>
                    {{form_widget(form_dates.date, { 'attr' : { 'class' : 'pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon'}}) }}
                    <small class="form_error">
                        {{form_errors(form_dates.date) }}
                    </small>
                </div>
                <div class="w-full flex justify-evenly pt-4">
                    <div class="flex flex-col gap-3">
                        <p class="hidden sm-600:block pt-2">Ouverture :</p>
                        <i class="before:pr-2 pt-3 fa-solid fa-lock-open">:</i>
                        <p class="hidden sm-600:block">Fermeture :</p>
                        <i class="before:pr-2 pt-3 fa-solid fa-lock">:</i>
                    </div>
                    <div class="flex-1 flex justify-evenly gap-2 lg:gap-0">
                        <div class="flex flex-col gap-2">
                            <div class="flex justify-center">
                                <div class="hidden">{{form_label(form_dates.evening_start) }}</div>
                                <div class="flex max-w-[7.5rem]">
                                    <i class="fa-solid fa-sun form_icon bg-primary/20"></i>
                                    {{ form_widget(form_dates.evening_start, { 'attr' : { 'class' : 'w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon'}}) }}
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <div class="hidden">{{form_label(form_dates.evening_end) }}</div>
                                <div class="flex max-w-[7.5rem]">
                                    <i class="fa-solid fa-sun form_icon bg-primary/20"></i>
                                    {{ form_widget(form_dates.evening_end, { 'attr' : { 'class' : 'w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon'}}) }}
                                </div>
                            </div>
                            <div class="flex justify-center items-center gap-1 self-start sm:self-auto">
                                {{ form_widget(form_dates.evening_close, { 'attr' : { 'class' : 'accent-red-600'}}) }}
                                {{ form_label(form_dates.evening_close)}}
                            </div>
                            <div class="flex justify-center items-center gap-1">
                                {{ form_widget(form_dates.evening_normal) }}
                                {{ form_label(form_dates.evening_normal) }}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="flex justify-center">
                                <div class="hidden">{{form_label(form_dates.noon_start) }}</div>
                                <div class="flex max-w-[7.5rem]">
                                    <i class="fa-solid fa-moon form_icon bg-primary/20"></i>
                                    {{ form_widget(form_dates.noon_start, { 'attr' : { 'class' : 'w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon'}}) }}
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <div class="hidden">{{form_label(form_dates.noon_end) }}</div>
                                <div class="flex max-w-[7.5rem]">
                                    <i class="fa-solid fa-moon form_icon bg-primary/20"></i>
                                    {{ form_widget(form_dates.noon_end, { 'attr' : { 'class' : 'w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon'}}) }}
                                </div>
                            </div>
                            <div class="flex gap-1 justify-center items-center self-start sm:self-auto">
                                {{ form_widget(form_dates.noon_close, { 'attr' : { 'class' : 'accent-red-600'}}) }}
                                {{ form_label(form_dates.noon_close)}}
                            </div>
                            <div class="flex justify-center items-center gap-1">
                                {{ form_widget(form_dates.noon_normal) }}
                                {{ form_label(form_dates.noon_normal) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button aria-label="Ajouter" type="submit" class="bg-secondary text-primary hover:bg-primary hover:text-secondary duration-150 px-4 py-2 mt-4 relative left-1/2 -translate-x-1/2">Ajouter une nouvelle date</button>
            {{ form_end(form_dates) }}
            <button aria-label="Supprimer les dates antérieures" onclick="deletePastDates()" class="scale-[.8] hover:scale-100 duration-150 box-shadow-lg mt-4 bg-red-600 px-4 py-2 relative left-1/2 -translate-x-1/2">Supprimer les dates passées</button>
        </section>
        <section class="flex mt-6">
            <form class="mx-auto text-sm sm-600:text-base flex items-center justify-center">
                <input type="date" name="search_date" class="bg-secondary text-primary input_withoutIcon">
                <button type="submit" class="px-2 bg-400 text-secondary hover:bg-primary duration-150 h-8 flex justify-center items-center gap-2 min-w-[2rem] sm-600:min-w-fit"><p class="hidden sm-600:block">Rechercher</p><i class="fa-solid fa-magnifying-glass icon_profil"></i></button>
            </form>
        </section>
        <section id="all_special_dates">
            <ol class="py-4 flex flex-col gap-6">
                {% for date in special_dates %}
                    <li class="text-sm sm-600:text-base bg-600 w-11/12 mx-auto max-w-[598px] gap-2 md:p-4 p-2 text-secondary">
                        <div class="py-2 relative after after:bg-secondary/50 after:min-w-[200px] mx-auto">
                            <div aria-label="Date" class="w-[128.4px] sm-600:w-[143.2px] mx-auto pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon flex justify-center items-center">
                                <p class="flex-1">{{ date.date|date("d/m/Y", false) }}</p>
                                <i class="fa-regular fa-calendar text-sm px-[6px]"></i>
                            </div>
                            <button aria-label="Supprimer" onclick="deleteDate(event)" data-id={{ date.id }} class="bg-red-600 duration-150 hover:bg-secondary absolute button_profil right-0 top-2"><i class="fa-solid fa-trash form_icon hover:text-red-600 duration-150"></i></button>
                        </div>
                        <div class="w-full flex justify-evenly pt-4">
                            <div class="flex flex-col gap-3">
                                <p class="hidden sm-600:block pt-2">Ouverture :</p>
                                <i class="before:pr-2 pt-3 fa-solid fa-lock-open">:</i>
                                <p class="hidden sm-600:block">Fermeture :</p>
                                <i class="before:pr-2 pt-3 fa-solid fa-lock">:</i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="flex justify-center">
                                    <div class="bg-primary/20 flex max-w-[7.5rem] justify-center items-center" aria-label="Début du service du midi" >
                                        <i class="fa-solid fa-sun form_icon "></i>
                                        <p class="w-full pr-2 flex items-center input_whitePlaceholder input_withoutIcon">{{ date.eveningStart ? date.eveningStart|date("H:i", false) : '--:--' }}</p>
                                        <i class="fa-regular fa-clock  text-sm px-[6px]"></i>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <div class="bg-primary/20 flex max-w-[7.5rem] justify-center items-center" aria-label="Fin du service du midi">
                                        <i class="fa-solid fa-sun form_icon "></i>
                                        <p class="w-full pr-2 flex items-center input_whitePlaceholder input_withoutIcon">{{ date.eveningEnd ? date.eveningEnd|date("H:i", false): '--:--' }}</p>
                                        <i class="fa-regular fa-clock  text-sm px-[6px]"></i>
                                    </div>
                                </div>
                                <div class="flex justify-center items-center gap-1 self-start sm:self-auto">
                                    {% if date.evening_close == true %}
                                        <input disabled type="checkbox" checked class="">
                                        <label class="after:bg-red-600">Fermer</label>
                                    {% else %}
                                        <input disabled type="checkbox" class="">
                                        <label>Fermer</label>
                                    {% endif %}
                                </div>
                                <div class="flex justify-center items-center gap-1">
                                    {% if date.evening_normal == true %}
                                        <input disabled type="checkbox" checked>
                                        <label class="after:bg-blue-600">Horaires habituels</label>
                                    {% else %}
                                        <input disabled type="checkbox">
                                        <label>Horaires habituels</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="flex justify-center">
                                    <div class="bg-primary/20 flex max-w-[7.5rem] justify-center items-center" aria-label="Début du service du soir">
                                        <i class="fa-solid fa-moon form_icon"></i>
                                        <p class="w-full pr-2 flex items-center input_whitePlaceholder input_withoutIcon">{{ date.noonStart ? date.noonStart|date("d/m/Y") : "--:--" }}</p>
                                        <i class="fa-regular fa-clock text-sm p-[6px]"></i>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <div class="bg-primary/20 flex max-w-[7.5rem] justify-center items-center" aria-label="Fin du service du soir">
                                        <i class="fa-solid fa-moon form_icon"></i>
                                        <p class="w-full pr-2 flex items-center input_whitePlaceholder input_withoutIcon">{{ date.noonEnd ? date.noonEnd|date("d/m/Y") : "--:--" }} </p>
                                        <i class="fa-regular fa-clock text-sm px-[6px]"></i>
                                    </div>
                                </div>
                                <div class="flex justify-center items-center gap-1 self-start sm:self-auto">
                                    {% if date.noon_close == true %}
                                        <input disabled type="checkbox" checked class="">
                                        <label class="after:bg-red-600">Fermer</label>
                                    {% else %}
                                        <input disabled type="checkbox" class="">
                                        <label>Fermer</label>
                                    {% endif %}
                                </div>
                                <div class="flex justify-center items-center gap-1">
                                    {% if date.noon_normal == true %}
                                        <input disabled type="checkbox" checked>
                                        <label class="after:bg-blue-600">Horaires habituels</label>
                                    {% else %}
                                        <input disabled type="checkbox" class="">
                                        <label>Horaires habituels</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}    
            </ol>
        </section>
    </div>
</div>