<div class="text-primary bg-secondary/95 profil_up" id="restaurant">
    <div class="grid py-4 gap-2 drop-shadow-lg">
        <form method="POST" class="form_profil">
            <label for="tel" class="hidden md:block">Téléphone :</label>
            <div class="form_inputContainer input_profil">
                <i class="fa-solid fa-phone"></i>
                <input type="tel" name="tel" id="tel" required placeholder="{{ restaurant.tel }}" pattern='\^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$\'>
                <button type="submit" id="change_email"><i class="fa-solid fa-pen"></i></button>
            </div>
        </form>
        <form method="POST" class="form_profil">
            <label for="city" class="hidden md:block">Ville :</label>
            <div class="form_inputContainer input_profil">
                <i class="fa-solid fa-city"></i>
                <input type="text" name="city" id="city" required placeholder="{{ restaurant.city }}" minlength=2 maxlength=20>
                <button type="submit" id="change_city"><i class="fa-solid fa-pen"></i></button>
            </div>
        </form>
        <form method="post" class="form_profil">
            <label for="street" class="hidden md:block">Rue :</label>
            <div class="form_inputContainer input_profil">
                <i class="fa-solid fa-street-view"></i>
                <input type="text" name="street" id="street" required placeholder="{{ restaurant.street }}" minlength=2 maxlength=50>
                <button type="submit" id="change_street"><i class="fa-solid fa-pen"></i></button>
            </div>
        </form>
        <form method="post" class="form_profil">
            <label for="postcode" class="hidden md:block">Code postale :</label>
            <div class="form_inputContainer input_profil">
                <i class="fa-solid fa-house"></i>
                <input type="number" name="postcode" id="postcode" required placeholder="{{ restaurant.postcode }}" pattern='\d{5}$\' minlength=5 maxlength=5> 
                <button type="submit" id="change_postcode"><i class="fa-solid fa-pen"></i></button>
            </div>
        </form>
        <form method="post" class="form_profil">
            <label for="places" class="hidden md:block">Couverts maximum :</label>
            <div class="form_inputContainer input_profil">
                <i class="fa-solid fa-utensils"></i>
                <input type="number" name="places" id="places" required placeholder={{ restaurant.places }} placeholder="\d{1,3}$\" minlength=1 maxlength=3>
                <button type="submit" id="change_places"><i class="fa-solid fa-pen"></i></button>
            </div>
        </form>
    </div>
</div>