{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<main class="pt-28 flex flex-col justify-evenly form_main">
		{% if error %}
			<div class="error_container">{{ error }}</div>
		{% endif %}
		{% if success %}
			<div class="success_container">{{ success }}</div>
		{% endif %}
		<div class="profil_container">
			<section>
				<nav class="profil_menu">
					<ul>
						<li class="text-secondary">
						{% if page_three %}
							<a href="{{ path('admin_card', {'page_up':'informations', 'page_down' : page_down, 'page_three' : page_three }) }}" class="bg-500 hover:-translate-y-1 duration-100 rounded-t-3xl">Profil</a>
						{% else %}
							<a href="{{ path('admin_profil', {'page_up':'informations', 'page_down' : page_down }) }}" class="bg-500 hover:-translate-y-1 duration-100 rounded-t-3xl">Profil</a>
						{% endif %}
						</li>
						<li class="text-primary">
						{% if page_three %}
							<a href="{{ path('admin_card', {'page_up':'restaurant', 'page_down' : page_down, 'page_three' : page_three}) }}" class="bg-secondary/95 hover:-translate-y-1 duration-100 rounded-t-3xl">Restaurant</a>
						{% else %}
							<a href="{{ path('admin_profil', {'page_up':'restaurant', 'page_down' : page_down}) }}" class="bg-secondary/95 hover:-translate-y-1 duration-100 rounded-t-3xl">Restaurant</a>
						{% endif %}
						</li>
					</ul>
				</nav>
				{% block profil_up %}
					{% if page_up == 'informations' %}
					{% include 'Admin/profil_up/informations.html.twig' %}
					{% else %} 
					{% include 'Admin/profil_up/restaurant.html.twig' %}
					{% endif %}
				{% endblock %}
			</section>
			<section class="relative -top-[50px] z-20">
				<nav class="profil_menu overflow-y-hidden overflow-x-auto h-[50px] flex items-end">
					<ul>
						<li class="text-secondary bg-500"><a href="{{ path('admin_profil', {'page_up' : page_up, 'page_down' : 'carousel' }) }}" class="hover:-translate-y-1 bg-600 duration-100 rounded-t-3xl" >Carousel</a></li>
						<li class="text-primary bg-500"><a href="{{ path('admin_card', { 'page_up' : page_up, 'page_down' : 'carte', 'page_three' : 'entrées' }) }}" class="hover:-translate-y-1 bg-400 duration-100 rounded-t-3xl">Carte</a></li>
						<li class="text-secondary bg-500"><a href="{{ path('admin_profil', { 'page_up' : page_up, 'page_down': 'horaires' }) }}" class="hover:-translate-y-1 bg-400/20 duration-100 rounded-t-3xl">Horaires</a></li>
						<li class="text-secondary bg-500"><a href="{{ path('admin_profil', {'page_up': page_up, 'page_down' : 'dates' }) }}" class="hover:-translate-y-1 bg-primary/50 duration-100 rounded-t-3xl">Dates</a></li>
					</ul>
				</nav>
				{% block profil_down %}
						{% if page_down == 'carousel' %}
							{% include 'Admin/profil_down/carousel.html.twig' %}
						{% elseif page_down == 'horaires' %}
							{% include 'Admin/profil_down/schedules.html.twig' %}
						{% else %} 
							{% include 'Admin/profil_down/dates.html.twig' %}
						{% endif %}
                {% endblock %}
			</section>
		</div>
		<button id='button-up' class="hide slow-opacity-reverse sticky z-30 bottom-12 h-9 w-9 md:h-14 md:w-14 left-[80%] bg-secondary text-primary rounded-full drop-shadow-lg hover:bg-400 duration-150 group"><i class="fa-solid fa-arrow-up button-full md:text-xl group-hover:text-secondary duration-150"></i></button>
	</main>
{% endblock %}

{% block scripts %}
	<script src={{ asset('/js/signUp-login/'~'script.js') }}></script>
	<script src={{ asset('js/profil/'~'handleRequest.js') }}></script>
	{% if page_up == 'informations' %}
	<script src={{ asset('/js/profil/admin/'~'handleRequest.informations.js') }}></script>
	{% else %} 
	<script src={{ asset('js/profil/admin/'~'handleRequest.restaurant.js') }}></script>
	{% endif %}
	{% if page_down == 'carousel' %}
	<script src={{ asset('js/profil/admin/'~'handleRequest.carousel.js') }}></script>
	{% elseif page_down == 'horaires' %}
	<script src={{ asset('js/profil/admin/'~'handleRequest.schedules.js') }}></script>
	{% elseif page_down == 'dates' %}
		<script src={{ asset('js/profil/admin/'~'handleRequest.dates.js') }}></script>
	{% endif %}
{% endblock %}
