{% extends "base.html.twig" %}

{% block title %}Carte{% block subTitle %}{% endblock %}{% endblock title %}


{% block body %}
    <main class="w-full min-h-screen pt-24 px-6 flex flex-col overflow-hidden">
        <div class="title_container bg-primary">
            <h1 class="title_section mt-8">À la carte</h1>
        </div>
        {% block section %}
        <div class="main-content min-h-full">
            <section class="">
                <ul class="card_grid">
                    <li class="group">
                        <a href="{{ path('card-starter') }}">
                            <picture>
                                <source srcset={{ asset('/images/card/'~"starter-extraLarge.jpg") }} media="(min-width : 1200px)">
                                <source srcset={{ asset('/images/card/'~"starter-large.jpg") }} media="(min-width : 990px)">
                                <source srcset={{ asset('/images/card/'~"starter-medium.jpg") }} media="(min-width : 768px)">
                                <img src={{ asset('/images/card/'~'starter-small.jpg')}} alt="Demi-camembert roti sur lit de salade">
                            </picture>
                            <div class="lg:group-hover:scale-150 card_title-container">
                                <h2 class="">Entrées</h2>
                            </div>
                        </a>
                    </li>
                    <li class="group">
                        <a href="{{ path('card-main') }}">
                            <picture>
                                <source srcset={{ asset('/images/card/'~"main-large.jpg") }} media="(min-width : 990px)">
                                <source srcset={{ asset('/images/card/'~"main-medium.jpg") }} media="(min-width : 768px)">
                                <source srcset={{ asset('/images/card/'~"main-extraLarge.jpg") }} media="(min-width : 1200px)">
                            <img src={{ asset('/images/card/'~'main-small.jpg')}} alt="Marmitte de crozets aux noix de saint Jacques">
                            </picture>
                            <div class="lg:group-hover:scale-150 card_title-container">
                                <h2 class="">Plats</h2>
                            </div>
                        </a>
                    </li>
                    <li class="group">
                        <a href="{{ path('card-dessert') }}">
                            <picture>
                                <source srcset={{ asset('/images/card/'~"dessert-extraLarge.jpg") }} media="(min-width : 1200px)">
                                <source srcset={{ asset('/images/card/'~"dessert-large.jpg") }} media="(min-width : 990px)">
                                <source srcset={{ asset('/images/card/'~"dessert-medium.jpg") }} media="(min-width : 768px)">
                                <img src={{ asset('/images/card/'~'dessert-small.jpg')}} alt="Nougat glace et son coulis de myrtilles">
                            </picture>
                            <div class="lg:group-hover:scale-150 card_title-container">
                                <h2 class="">Desserts</h2>
                            </div>
                        </a>
                    </li>
                    <li class="group">
                        <a href="{{ path('card-menus') }}">
                            <picture>
                                <source srcset={{ asset('/images/card/'~"menu-extraLarge.jpg") }} media="(min-width : 1200px)">
                                <source srcset={{ asset('/images/card/'~"menu-large.jpg") }} media="(min-width : 990px)">
                                <source srcset={{ asset('/images/card/'~"menu-medium.jpg") }} media="(min-width : 768px)">
                                <img src={{ asset('/images/card/'~'menu-small.jpg')}} alt="Service de plusieurs assiettes en cuisine">
                            </picture>
                            <div class="lg:group-hover:scale-150 card_title-container">
                                <h2 class="">Menus</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="my-12 h-12 w-[200px] m-auto cursor-pointer flex items-center justify-center group md:w-[250px] md:h-[70px] button_style" id="card-booking"><a href="{{ path('reservation') }}" class="font-secondary group-hover:text-secondary duration-150 text-lg">Réservez maintenant !</a></div>
        </div>
        {% endblock %}
    </main>
{% endblock %}
