{% extends "base.html.twig" %}

{% block title %}Carte{% endblock title %}


{% block body %}
<main class="pt-28">
    <div class="title_container">
        <h1 class="title_section">Réserver</h1>
        <img src={{ asset('images/svg/'~ "line-white.svg") }} alt="un point entouré de deux traits de longeur égales" class="w-[100px]">
    </div>
    <section>
        <div class="min-w-[264px] text-secondary font-secondary w-11/12 mx-auto py-6">
            <div class="min-h-[295px] relative text-xl flex">
                <picture>
                    <source srcset={{ asset('images/booking/'~"booking-extraLarge.jpg") }} media="(min-width : 1200px)">
                    <source srcset={{ asset('images/booking/'~"booking-large.jpg") }} media="(min-width : 990px)">
                    <source srcset={{ asset('images/booking/'~"booking-medium.jpg") }} media="(min-width : 768px)">
                    <img src={{ asset('images/booking/'~'booking-small.jpg')}} alt="Assiettes servies avec une salade et un verre à pied." class="w-full h-full blur-[1px] absolute object-center object-cover -z-10">
                </picture>
                <p class="w-full py-4 absolute text-center">Envie d'aller plus vite ?</p>
                <div class="flex flex-col gap-3 relative justify-center w-full">
                    <div class="choice_buttons"><a href="">Inscrivez vous</a></div>
                    <p class="text-center">Ou</p>
                    <div class="choice_buttons"><a href="">Connectez vous</a></div>
                </div>
            </div>
            <div class="booking-carousel">
                {% block form %}
                {% endblock %}
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
    {# <script src={{ asset('js/card/'~'script-card.js') }}></script> #}
{% endblock %}