{% extends "Card/card.html.twig" %}

{% block subTitle %} - Plats{% endblock %}

{% block section %}
<div class="main-content" id="menu">
    <section class="flex-col" id="section-starter">
        <fieldset class="w-11/12 mx-auto max-w-[598px] border border-solid border-500 p-3 ">
            <legend>
                <h2 class="px-2 text-xl font-primary">Menus</h2>
            </legend>
                <ul class="card-items">
                    {% for key, menu in menus %}
                        <li class="{{ key > 0 ? "flex-col before:content-[''] before:w-1/2 before:h-px before:bg-500 before:mx-auto" : "flex-col" }}">
                            <h3 class="text-center text-lg font-primary">{{ menu.title }}</h3>
                            <ul class="gap-2 flex flex-col">
                                {% for offer in menu.offers %}
                                <li class="offer-items">
                                    <div>
                                        <h4 class="text-lg font-secondary">{{ offer.title }}</h4>
                                        <small class="">{{ offer.conditions }}</small>
                                        <ol class="list-disc list-inside" id="description">
                                        {% for description in offer.description %}
                                            <li class="description card_description">{{ description }}</li>
                                        {% endfor %}
                                        </ol>
                                    </div>
                                    <p class="price">{{ offer.price|number_format(2, '.', ',') }} € TTC</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
        </fieldset>
        <div class="my-12 h-12 w-[200px] m-auto cursor-pointer flex items-center justify-center group md:w-[250px] md:h-[70px] button_style" id="card-booking"><a href="{{ path('reservation') }}" class="font-secondary group-hover:text-secondary duration-150 text-lg">Réservez maintenant !</a></div>
        <a href="{{ path('card') }}" class="card_backLink"><i class="fa-solid fa-arrow-left px-2"></i>Revenir à la sélection</a>
    </section> 
</div>
{% endblock %}