{# {% extends "base.html.twig" %} #}

{% extends "Card/card.html.twig" %}

{% block subTitle %} - Entrées{% endblock %}

{% block section %}
<div class="main-content flex-col">
    <section class="" id="section-starter">
        <fieldset class="w-11/12 mx-auto max-w-[598px] border border-solid border-500 p-3 ">
            <legend>
                <h2 class="px-2 text-xl">Entrées</h2>
            </legend>
                <ul class="card-items">
                    {% for food in foods %}
                        <li>
                            <div>
                                <h3>{{ food.title }}</h3>
                                <p class="card_description" >{{ food.description}}</p>
                            </div>
                            <p class="price">{{ food.price|number_format(2, '.', ',') }} € TTC</p>
                        </li>
                    {% endfor %}
                </ul>
        </fieldset>
    </section>
    <div class="my-12 h-12 w-[200px] m-auto cursor-pointer flex items-center justify-center group md:w-[250px] md:h-[70px] button_style" id="card-booking"><a href="{{ path('reservation') }}" class="font-secondary group-hover:text-secondary duration-150 text-lg">Réservez maintenant !</a></div>
    <a href="{{ path('card') }}" class="card_backLink"><i class="fa-solid fa-arrow-left px-2"></i>Revenir à la sélection</a>
</div>
{% endblock %}
