{% extends 'Contact/contact.html.twig' %}

{% block contact_title %}
    <div class="font-secondary text-secondary text-center my-5 text-lg px-4 md:text-xl">
        <p>Une demande spécifique ?</p>
        <p>Contactez directement notre équipe !</p>
    </div>
{% endblock %}
{% block content %}
    <div class="drop-shadow-lg font-third text-secondary mx-auto mb-12 md:w-11/12 md:flex md:max-w-[955px] mt-7">
        <section class="h-[315px] relative w-11/12 mx-auto flex md:h-auto">
            <picture>
                <source srcset={{ asset('images/contact/'~"contact-extraLarge.jpg") }} media="(min-width : 1200px)">
                <source srcset={{ asset('images/contact/'~"contact-large.jpg") }} media="(min-width : 990px)">
                <source srcset={{ asset('images/contact/'~"contact-medium.jpg") }} media="(min-width : 768px)">
                <img src={{ asset('images/contact/'~'contact-small.jpg')}} alt="Centre ville de Chambery avec la fontaine des éléphants." class="absolute h-full w-full object-cover object-center blur-[1px]">
            </picture>
            <div class="rounded bg-primary/50 drop-shadow-lg flex flex-col gap-5 p-4 w-3/4 max-w-[215px] m-auto">
                <div class="flex gap-2">
                    <i class="fa-solid fa-location-dot text-lg h-fit self-center"></i>
                    <div class="flex-1">
                        <p>37 Rue du Croissant</p>
                        <p>Chambery</p>
                        <p>73000</p>
                    </div>
                </div>
                <div class="flex gap-2">
                    <i class="fa-solid fa-at text-lg h-fit self-center"></i>
                    <p class="flex-1">lorem@ipsum.com</p>
                </div>
                <div class="flex gap-2">
                    <i class="fa-solid fa-phone text-lg h-fit self-center"></i>
                    <p class="flex-1">01 23 45 67 89</p>
                </div>
            </div>
        </section>
        <section class="form_contact bg-500 w-11/12 mx-auto">
            {{ form_start(form, { 'attr' : { 'class' : 'flex flex-col gap-5 p-4 md:p-8'}}) }}
            <div class="div_contact">
                {{ form_label(form.name) }}
                <div class="input_contact">
                    <i class="fa-solid fa-user"></i>
                    {{ form_widget(form.name, { 'attr' : { 'placeholder' : 'Nom Prenom'}}) }}
                </div>
                <div class="form_error-contact">
                    {{ form_errors(form.name)}}
                </div>
            </div>
            <div class="div_contact">
                {{ form_label(form.tel) }}
                <div class="input_contact">
                    <i class="fa-solid fa-phone"></i>
                    {{ form_widget(form.tel, { 'attr': {'class': "span12", 'placeholder': '0123456789'}}) }}
                </div>
                <div class="form_error-contact">
                    {{ form_errors(form.tel)}}
                </div>
            </div>
            <div class="div_contact">
                {{ form_label(form.message) }}
                {{ form_widget(form.message, { 'attr': {'class': "input_contact placeholder:text-secondary/50 p-2 min-h-[190px]", 'placeholder': 'Écrivez nous un message ici !', 
                                                'min' : '20', 'max' : '450'}}) }}
                <div class="form_error-contact">
                    {{ form_errors(form.message)}}
                </div>
            </div>
            <button type="submit" class="bg-secondary text-primary w-fit p-3 mt-5 hover:bg-400 hover:text-secondary duration-150">Envoyer<i class="fa-solid fa-paper-plane pl-2"></i></button>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}