<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Quai Antique |
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content="Site internet du Quai Antique, restaurant du chef Arnaud Michant situé à Chambéry. Cuisine traditionnelle et gastronomique des saveurs de la Savoie.">
		<link
		rel="icon" href="{{ asset('images/icon/favicon.ico')}}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	</head>
	<body class="bg-primary min-h-screen w-full overflow-x-hidden">
		{% include('partials/_header.html.twig') %}
		{% block body %}{% endblock %}
		{{ render(path('footer_data')) }}
		<script src="https://kit.fontawesome.com/4ba6d56c15.js" crossorigin="anonymous"></script>
		<script src={{ asset('/js/global-script.js') }}></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
