<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Quai Antique | {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-primary min-h-screen">
        {# IF NOT CONNECTED #}
        {% block header %}
            {# IF MOBILE #}
            {% block mobile_header %}
            <header class="h-[110px] w-screen absolute flex justify-between px-6 py-3 md:px-12">
                <a href="{{ path('home') }}" class=""><img src={{ asset('images/svg/'~ "logo-white.svg")}} alt="Logo Quai Antique blanc" class="h-full"></a>
                <button class="md:hidden"><img src={{ asset('images/svg/'~ "hamburger-open.svg") }} alt="Open menu"></button>
                <nav class="hidden md:block uppercase"> 
                    <ul class="md:inline-flex md:gap-8 text-secondary font-secondary relative top-[57px]">
                        <li><a href="{{ path('home') }}" class="active">Accueil</a></li>
                        <li><a href="">Carte</a></li>
                        <li><a href="">Réserver</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Connexion</a></li>
                        <li><a href="">Inscription</a></li>
                    </ul>
                </nav>
            </header>
            {% endblock %}
        {% endblock %}
        {% block body %}{% endblock %}
        {# IF NOT CONNECTED #}
        {% block footer %}
            {# IF MOBILE #}
            {% block mobile_footer %}
            <footer class="bg-500 text-secondary font-third py-4 px-5 mt-8 w-screen md:flex md:justify-center">
                <div class="grid max-w-[440px] mx-auto md:w-fit md:max-w-[340px] md:min-w-[300px] md:mx-0 ">
                    <p class="footer_title">Horaires</p>
                    <ul class = "scedules text-sm">
                        <li>Lundi
                            <ul>
                                <li>Fermé</li>
                                <li>19:00 - 22:00</li>
                            </ul>
                        </li>
                        <li>Mardi
                            <ul>
                                <li>Fermé</li>
                                <li>Fermé</li>
                            </ul>
                        </li>
                        <li>Mercredi
                            <ul>
                                <li>11:30 - 15:00</li>
                                <li>19:00 - 22:00</li>
                            </ul>
                        </li>
                        <li>Jeudi
                            <ul>
                                <li>11:30 - 15:00</li>
                                <li>19:00 - 22:00</li>
                            </ul>
                        </li>
                        <li>Vendredi
                            <ul>
                                <li>11:30 - 15:00</li>
                                <li>19:00 - 22:00</li>
                            </ul>
                        </li>
                        <li>Samedi
                            <ul>
                                <li>11:30 - 15:00</li>
                                <li>19:00 - 22:00</li>
                            </ul>
                        </li>
                        <li>Dimanche                   
                            <ul>
                                <li>11:30 - 15:00</li>
                                <li>19:00 - 22:00</li>
                            </ul>
                        </li> 
                    </ul>
                </div>
                <div class="sm:flex gap-6 max-w-[440px] mx-auto md:mx-0">
                    <div class="grid grid-cols-2 my-4 sm:flex-1 sm:flex sm:gap-6 md:my-0">
                        <div>
                            <p class="footer_title">Site</p>
                            <ul class="text-sm">
                                <li><a class="hover:underline hover:underline-offset-2" href="{{ path('home') }}">Accueil</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href="">Carte</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href="">Réserver</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href="">Contact</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href="">Connexion</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href="">Inscription</a></li>
                            </ul>
                        </div>
                        <div>
                            <p class="footer_title">Contact</p>
                            <ul class="text-sm">
                                <li><a class="hover:underline hover:underline-offset-2" href="tel:">+33 00 00 00 00 00</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href="mailto:lorem@ipsum.com">lorem@ipsum.com</a></li>
                                <li><a class="hover:underline hover:underline-offset-2" href=""><i class="fa-brands fa-square-facebook text-2xl mt-1"></a></i></li>
                            </ul>
                        </div>
                    </div>
                    <a href="{{ path('home') }}" ><img class="max-w-[160px] mx-auto sm:inline-block sm:w-fit sm:mx-0" src={{ asset('images/svg/'~'logo-white.svg')}} alt=""></a>
                </div>
            </footer>
            {% endblock %}
        {% endblock %}
        <script src="https://kit.fontawesome.com/4ba6d56c15.js" crossorigin="anonymous"></script>
    </body>
</html>
 