{% extends 'SignUp/sign.html.twig' %}

{% block content_subtitle %}
    <div class="font-secondary text-secondary text-center my-5 text-lg px-4 md:text-xl">
        <h2>
            <p>Envie de devenir un habitué ?</p>
            <p>Alors inscrivez vous !</p>
        </h2>
    </div>
{% endblock %}
{% block content %} 
    {# {% if error %}
        <div>
            {% if (error == 1062) %}
            <p>Une erreur est survenue :</p>
            <p>L'email que vous avez entré est déjà associé à un compte existant.</p>
            {% else %}
            <p>Une erreur est survenue.</p>
            <p>Nous vous invitons à prendre contact directement avec nous.</p>
            {% endif %}
        </div>
    {% endif %} #}
    {% if error %}
        <div class="alert alter-danger error_container">{{ error }}</div>
    {% endif %}
    <section class="my-8 md:my-12 flex md:max-w-[900px] w-11/12 mx-auto items-center ">
            <div class="flex w-full">
                <div class="hidden md:block image_sign-up form_image"></div>
                <div class="text-secondary font-secondary drop-shadow-lg max-w-[380px] md:max-w-none md:flex-1 mx-auto">
                    {{ form_start(form, {'attr' : { 'class' : 'bg-500 p-4 grid gap-6'}}) }}
                        <div class="form_container">
                            {{ form_label(form.email) }}
                            <div class="form_inputContainer">
                                <i class="fa-solid fa-at"></i>
                                {{ form_widget(form.email) }}
                            </div>
                            <div>
                                {{ form_errors(form.email)}}
                            </div>
                        </div>
                        <div class="form_container">
                            {{ form_label(form.password) }}
                            <div class="form_inputContainer">
                                <i class="fa-solid fa-lock"></i>
                                {{ form_widget(form.password) }}
                                <span role="button" onclick="togglePassword(event)">
                                    <i class="fa-solid fa-eye  w-[36px]" ></i>
                                    <i class="fa-solid fa-eye-slash hide w-[36px]"></i>
                                </span>
                            </div>
                            <div>
                                {{ form_errors(form.password)}}
                            </div>
                        </div>
                        <div class="form_container">
                            {{ form_label(form.confirm) }}
                            <div class="form_inputContainer">
                                <i class="fa-solid fa-lock"></i>
                                {{ form_widget(form.confirm) }}
                                <span role="button" onclick="togglePassword(event)">
                                    <i class="fa-solid fa-eye w-[36px]"></i>
                                    <i class="fa-solid fa-eye-slash hide w-[36px]"></i>
                                </span>                            
                            </div>
                            <div>
                                {{ form_errors(form.confirm)}}
                            </div>
                        </div>
                        <button type="submit" class=" bg-secondary text-primary mt-4 mb-2 py-2 px-4 w-fit justify-self-center hover:bg-400 duration-150 hover:text-secondary">Inscription</button>
                    {{ form_end(form) }}
                    <div class="bg-400 text-center py-5 text-primary">
                        <p class="mb-2">Déjà un compte ? </p>
                        <a href={{ path ('login') }} class="underline underline-offset-2 hover:text-secondary duration-150">Connectez vous !</a>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}