{% extends 'SignUp/sign.html.twig' %}

{% block content_subtitle %}
    <div class="font-secondary text-secondary text-center my-5 text-lg px-4 md:text-xl">
        <h2>
            <p>Envie de devenir un habitué ?</p>
            <p>Alors inscrivez vous !</p>
        </h2>
    </div>
{% endblock %}
{% block content %} 
    <h1 class="title_section">Inscription</h1>
    <div class="font-secondary text-secondary text-center my-5 text-lg px-4 ">
		<p>Envie de devenir un habitué ?</p>
        <p>Alors inscrivez vous !</p>
    </div>
    {% if error %}
        <div class="text-sm error_container">{{ error }}</div>
    {% endif %}

    {{ form_start(form, {'attr' : { 'class' : 'text-secondary max-w-[589px] w-11/12 mx-auto lg:mx-auto lg:w-5/6 font-secondary border border-solid border-500 p-3 flex flex-col gap-2'}}) }}
        <div class="label-lg">
            {{ form_label(form.email) }}
            <div class="form_inputContainer_2">
                <i class="fa-solid fa-at form_icon"></i>
                {{ form_widget(form.email, { 'attr' : { 'class' : 'form_input', 'placeholder' : 'Email'}}) }}
            </div>
            <small class="form_error">
                {{ form_errors(form.email)}}
            </small>
        </div>
        <div class="label-lg">
            {{ form_label(form.password) }}
            <div class="form_inputContainer_2">
                <i class="fa-solid fa-lock form_icon"></i>
                {{ form_widget(form.password, { 'attr' : { 'class' : 'form_input', 'placeholder' : 'Mot de passe'}}) }}
                <span aria-label="Afficher ou non mot de passe" role="button" onclick="togglePassword(event)" class="w-[36px]">
                    <i class="fa-solid fa-eye button-full hide" ></i>
                    <i class="fa-solid fa-eye-slash button-full"></i>
                </span>
            </div>
                <small>Doit contenir au moins 8 caractères, une majuscule, une minuscule et un chiffre.</small>
            <small class="form_error">
                {{ form_errors(form.password)}}
            </small>
        </div>
        <div class="label-lg">
            {{ form_label(form.confirm) }}
            <div class="form_inputContainer_2">
                <i class="fa-solid fa-lock form_icon"></i>
                {{ form_widget(form.confirm, {'attr' : { 'class' : 'form_input', 'placeholder' : 'Confirmer le mot de passe'}}) }}
                <span aria-label="Afficher ou non mot de passe" role="button" onclick="togglePassword(event)" class="w-[36px]">
                    <i class="fa-solid fa-eye hide button-full"></i>
                    <i class="fa-solid fa-eye-slash button-full"></i>
                </span>                            
            </div>
            <small class="form_error">
                {{ form_errors(form.confirm)}}
            </small>
        </div>
        <button type="submit" class=" bg-secondary text-primary mt-4 mb-2 py-2 px-4 w-fit justify-self-center hover:bg-400 duration-150 hover:text-secondary">Inscription</button>
    {{ form_end(form) }}
    <div class="max-w-[589px] mt-8 py-4 text-center w-11/12 mx-auto lg:w-5/6 font-secondary border border-solid border-400 text-secondary">
        <p class="text-lg font-primary mb-4">Déjà un compte ?</p>
        <a href="{{ path ('login') }}" class="text-center w-11/12 mx-auto underline underline-offset-2 duration-150">Connectez vous !</a>
    </div>

{% endblock %}