<div class="drop-shadow-lg bg-500 text-secondary">
    <section class="py-6 after relative">
        <p class="w-11/12 mx-auto max-w-[598px] pb-3 underline underline-offset-2">Ajouter un menu :</p>
        {{ form_start(form_menu, { 'attr' : { 'class' : 'bg-600 w-11/12 mx-auto max-w-[598px] flex flex-col justify-center md:p-4 p-2 text-secondary' }}) }}
        <div class="after relative after:bg-secondary after:opacity-50">
            <div class="flex gap-2">
                <div class="flex-1">
                    <div class="hidden">{{ form_label(form_menu.title) }}</div>
                    {{ form_widget(form_menu.title, { 'attr' : { 'class' : 'w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon' }}) }}
                    <small class="form_error">
                        {{ form_errors(form_menu.title) }}
                    </small>
                </div>
                <button type="submit" id="add_image" class="bg-secondary text-primary hover:bg-primary hover:text-secondary duration-150 h-8 px-2 min-w-[2rem] sm-600:min-w-fit flex gap-2 justify-center items-center"><p class="hidden sm-600:block">Ajouter un menu</p><i class="fa-solid fa-plus"></i>
            </div>
            <button type="button" class="mt-8 text-sm duration-150 hover:bg-secondary hover:text-primary add_item_link text-secondary bg-primary/50 px-4 py-2 relative left-1/2 -translate-x-1/2 my-3" data-collection-holder-class="offers">Ajouter une formule</button>
        </div>
        <p class="py-2 underline underline-offset-2">Formules :</p>
        <ul class="offers text-sm pt-4"
            data-index="{{ form_menu.offers|length > 0 ? form_menu.offers|last.vars.name + 1 : 0 }}"
            data-prototype="{{ _self.offers_prototype_empty(form_menu.offers.vars.prototype)|e('html_attr') }}"
            >
            {% for key, offer in form_menu.offers %}
                {{ _self.offers_prototype_empty(offer, key) }}
            {% endfor %}
        </ul>
    {{ form_rest(form_menu) }}
    {{ form_end(form_menu) }}
    </section>
    <section class="flex flex-col gap-7 py-6">
        <ul class="menus">
        {% for key_menu, menu in menus %}
            <li class="after relative after:bg-secondary/50 after:w-2/5 flex flex-col gap-2">
                <form onSubmit="setMenu(event)" method="post" class="bg-600 w-11/12 mx-auto max-w-[598px] flex flex-col justify-center p-2 md:p-4 text-secondary" id="{{ 'menu_'~ menu.id }}" data-index-menu = {{ key_menu }}>
                    <div class="get_sticky bg-600 top-0 relative after:bg-secondary after:opacity-50">
                        <div class="flex md:gap-8 gap-2">
                            <div class="flex sm-600:flex-row flex-col gap-2 flex-1">
                                <div class="flex-1">
                                    <label for="{{ 'title_'~ menu.id }}" hidden>Titre :</label>
                                    <input minLength=2 maxLength=150  required type="text" id="{{ 'title_'~ menu.id }}" name="{{ 'title_'~ menu.id }}" value="{{ menu.title }}" class="w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon">
                                </div>
                                <div class="self-center flex gap-2">
                                    <button type="submit" class="bg-primary/50 button_profil bg-secondary text-primary duration-150 hover:bg-primary hover:text-secondary" aria-label="Modifier">
                                        <i class="fa-solid fa-pen button-full"></i>
                                    </button>
                                    <button aria-label="Supprimer" id="{{ 'delete_'~ menu.id }}" onclick="deleteMenu(event)" class="bg-red-600 hover:bg-secondary hover:text-red-600 duration-150">
                                        <i class="fa-solid fa-trash button_profil button-full"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="text-2xl self-start md:self-center" onclick="showMenu(event)">
                                <i class="fa-solid fa-caret-down text-secondary button-full"></i>
                                <i class="hide fa-solid fa-caret-up button-full"></i>
                            </button>
                        </div>
                        <button type="button" class="hide text-secondary bg-primary/50 px-4 py-2 relative left-1/2 -translate-x-1/2 my-3" onclick="addOffer(event)" data-index-menu = {{ key_menu }} data-index-offer = {{ menu.offers|length }}>Ajouter une formule</button>
                    </div>
                    <ul class="modify_offers hide" 
                    >
                    {% for key, offer in menu.offers %} 
                        {{ _self.offers_prototype(key, offer, key_menu) }}
                    {% endfor %}
                    </ul>
                </form>
            </li>
        {% endfor %}
        </ul>
    </section>
</div>


{% macro offers_prototype_empty(offer, key) %}
<li class="offer_model after my-2 relative after:bg-secondary/50 after:w-2/5 flex flex-col gap-2">
    <div class="flex gap-2">
        <div class="name flex flex-1 gap-1">
            <div class="hidden">{{ form_label(offer.title) }}</div>
            {{ form_widget(offer.title, { 'attr' : { 'class' : 'offer_title_model flex-1 w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon' }}) }}
            <small class="form_error">
                {{ form_errors(offer.title) }}
            </small>
        </div>
    </div>
    <div>
        <div class="hidden">{{ form_label(offer.conditions) }}</div>
        {{ form_widget(offer.conditions, { 'attr' : { 'class' : 'offer_conditions_model w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon' }}) }}
        <small class="form_error">
            {{ form_errors(offer.conditions) }}
        </small>
    </div>
    <div class="flex justify-between items-center">
        <p class="underline underline-offset-2">Composition :</p>
        <button type="button" class="add_item_link text-secondary bg-primary/50 px-4 py-1" data-collection-holder-class="compositions">Ajouter</button>
    </div>
    <ol class="compositions_model compositions flex flex-col gap-2"
    data-offer-id="{{ key }}"
    data-index="{{ offer.description|length }}"
    data-prototype="{{  _self.compositions_prototype_empty(offer.description.vars.prototype)|e('html_attr') }}"
    >
    {% for composition in offer.description %}
        {{ _self.compositions_prototype_empty(composition) }}
    {% endfor %}
    </ol>
    <div class="my-2 relative after:conten-[''] before:absolute before:w-[100px] before:h-px before:bg-secondary before:opacity-50 before:-top-2">
        <div class="hidden">{{ form_label(offer.price) }}</div>
        <div class="flex items-center input_profil w-[120px]">
            <i class="fa-solid fa-euro-sign form_icon bg-primary/20"></i>
            {{ form_widget(offer.price, { 'attr' : { 'class' : 'pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon' }}) }}
        </div>
        <small class="form_error">
            {{ form_errors(offer.price) }}
        </small>
    </div>
</li>
{% endmacro %}
{% macro compositions_prototype_empty(composition) %}
    <li class="name flex gap-2" >
        <div class="flex-1">
            <div class="hidden">{{ form_label(composition) }}</div>
            {{ form_widget(composition, { 'attr' : {'class' : 'offer_model pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon', 'placeholder' : 'Plat...' }}) }}
            <small class="form_error">
                {{ form_errors(composition) }}
            </small>
        </div>
    </li>
{% endmacro %}
{% macro offers_prototype(key_offer, offer, key_menu) %}
<li class="after my-2 relative after:bg-secondary/50 after:w-2/5 flex flex-col gap-2" data-index-menu={{ key_menu }}>
    <div class="flex gap-2">
        <div class="flex-1">
            <label hidden for="{{'menu_'~ key_menu ~'_offer_title_'~ key_offer }}">Titre :</label>
            <input required minLength=2 maxLength=150  type="text" class="w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon" id="{{'menu_'~ key_menu ~'_offer_title_'~ key_offer }}" name="{{'menu_'~ key_menu ~'_offer_title_'~ key_offer }}" value="{{ offer.title }}">
        </div>
        {% if key_offer != 0 %}
        <button class="bg-red-600 hover:bg-secondary hover:text-red-600 duration-150">
            <i class="button-deleteOffer fa-solid fa-trash button-full button_profil" onclick="deleteOffer(event)"></i>
        </button>
        {% endif %}
    </div>
    <div>
        <label hidden for="{{'menu_'~ key_menu ~'_offer_conditions_'~ key_offer }}">Conditions :</label>
        <input maxLength=150  type="text" class="w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon" id="{{'menu_'~ key_menu ~'_offer_conditions_'~ key_offer }}" name="{{'menu_'~ key_menu ~'_offer_conditions_'~ key_offer }}" value="{{ offer.conditions }}" placeholder="Condition(s)...">
    </div>
    <div class="flex justify-between items-center">
        <p class="underline underline-offset-2">Composition :</p>
        <button type="button" class="text-secondary bg-primary/50 px-4 py-1" onclick="addComposition(event)" data-index-menu={{ key_menu }} data-index-offer={{ key_offer }}>Ajouter</button>
    </div>
    <ol class="compositions flex flex-col gap-2 modify"
    >
    {% for key, composition in offer.description %}
        {{ _self.compositions_prototype(key, composition, key_offer, key_menu) }}
    {% endfor %}
    </ol>
    <div class="my-2 relative after:conten-[''] before:absolute before:w-[100px] before:h-px before:bg-secondary before:opacity-50 before:-top-2">
        <label for="{{ 'menu_'~ key_menu ~'_price_'~ key_offer }}" hidden>Prix :</label>
        <div class="flex items-center input_profil w-[120px]">
            <i class="fa-solid fa-euro-sign form_icon bg-primary/20"></i>
            <input required type="number" class="w-full pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon" id="{{ 'menu_'~ key_menu ~'_price_'~ key_offer }}" name="{{ 'menu_'~ key_menu ~'_price_'~ key_offer }}" value="{{ offer.price }}" >
        </div>
    </div>
</li>
{% endmacro %}
{% macro compositions_prototype(key, composition, key_offer, key_menu) %}
    <li class="name flex gap-2">
        <div class="flex-1">
            <label hidden for="{{'menu_'~ key_menu ~'_offer_'~ key_offer ~'_composition_title_'~ key }}">Composer de...</label>
            <input required minLength="2" maxLength="200"  type="text" class="pr-2 bg-primary/20 input_whitePlaceholder input_withoutIcon" id="{{'menu_'~ key_menu ~'_offer_'~ key_offer ~'_composition_title_'~ key }}" name="{{'menu_'~ key_menu ~'_offer_'~ key_offer ~'_composition_title_'~ key }}" value="{{ composition }}" placeholder="Plat...">
        </div>
        {% if key >= 1 %}
        <button class="bg-red-600 hover:bg-secondary hover:text-red-600 duration-150">
            <i class="fa-solid fa-trash button-full button_profil" onclick="deleteComposition(event)"></i>
        </button>
        {% endif %}
    </li>
{% endmacro %}